.menu{
    text-decoration: none;
    list-style-type: none;
    border-radius: 1vw;
    transition: all 1s;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu li{
    padding : 2vh 1vw;
    min-height: 1vh;
    cursor : pointer;
    font-size: 20px;
    font-weight: bold;
    color: #e8e8e8;
    transition: all 1s;
}

.menu li:hover{
    background-color: #e5e5e5;
    color: black;
    transition: all 1s;
}

.left-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top : 0;
    min-width: 13vw;
    max-width: 13vw;
    min-height: 100vh;
    background-color: rgba(84, 84, 84, 1);
    padding: 0;
    margin: 0;
    z-index: 2;
}

.logo{
    display: flex;
    min-height: 110px;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.logo h1{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
