.page-error {
    position: absolute;
    top: 110px;
    background-color: #bfedff;
    min-width: 100vw;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-error h1{
    font-size: 80px;
    color: #c77c6d;
}

.page-redirect{
    min-width: 100vw;
    min-height: calc(100vh - 110px - 40vh);
    position: absolute;
    top: calc(110px + 40vh);
    background-color: #d5d5d5;
    text-align: center;
}

.page-redirect h1{
    cursor: pointer;
    font-size: 80px;
    color: #6b85ff;
}