.round-info{
    width: 25%;
    min-height: 100%;
    min-width: 250px;
    max-width: 350px;
    margin: 0 2vw;
    transition: all 0.2s;
    cursor: pointer;
}
.round-info:hover {
    transform: scale(1.04) rotate(1deg);
}

.round-info h2,
.round-info h3{
    text-align: center;
    text-decoration: none;
}

.round-info-inner{
    padding : 1vh 1vw;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    overflow: hidden;
}
.round-info-date .react-datepicker-wrapper{
    max-width: 100px;
}

.round-info-datepicker{
    min-height: 3vh;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 0;
}

.round-info-date{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3vh;
}

.progress{
    position: absolute;
    top : 25px;
    left : 0;
    z-index: 3;
    rotate : 315deg;
    font-weight: bold;
    padding : 5px;
    opacity: 0.8;
}
.upcoming.progress{
    color: #0b8bde;
    border : 1px solid #1b96e5;
}
.finished.progress{
    color: black;
    border : 1px solid black;
}
.ongoing.progress{
    color: #56ff1a;
    border : 1px solid #56ff1a;
}