.index-box:disabled{
    background-color: rgba(232, 232, 232, 0.1);
    width: 3vw;
}

.form-top{
    height: 8vh;
    width: 80%;
    max-height: 100px;
    display: flex;
    align-items: center;
}

.form-middle{
    width: 100%;
    display: flex;
}

.form-bottom{
    width: 80%;
    display: flex;
}

.coin-form .form-select{
    height: 50px;
    max-height: 40px;
    min-width: 5vw;
}

.coin-form .form-input-text,
.coin-form .form-input-num,
.coin-form .div-file{
    max-height: 40px;
    height: 35px;
    min-width: 10vw;
}

.coin-form .form-textarea{
    width: 70%;
    min-height: 40vh;
}

.coin-form .form-button{
    max-height: 40px;
    height: 38px;
    min-width: 10vw;
}

.coin-form .form-file{
    display: none;
    padding: 0;
}

.label-file{
    width: 100%;
}

.div-file{
    margin: 1vh 1vw;
}

.form-image{
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.image-div{
    display: flex;
    width: 100%;
    margin: 1vh 1vw;
    justify-content: space-between;
}

.image-container{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px 0;
}

.form-image::-webkit-scrollbar{
    width: 8px;
}

.form-image::-webkit-scrollbar-thumb{
    height: 20%;
    background: rgb(107, 107, 107);
    border-radius: 50px;
}

.form-image::-webkit-scrollbar-track{
    background: rgba(65, 65, 65, 0.21);
    border-radius: 10px;
}

.delete-icon{
    position: relative;
    top: -100%;
    left: 75%;
    cursor: pointer;
    z-index: 1;
    width: 24px;
    height: 24px;
}